body {
  background: #ffff32;
}

.robozilla-cntr {
  position: relative;
  width: 100%;
}

.robozilla-img {
  margin-top: 16px;
  outline: none;
  padding: 0 0 50%;
}

.robozilla-img img {
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  width: 100%;
}

.robozilla-canvas, canvas {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  text-align: center;
}

@media only screen and (min-width: 769px) {
  .robozilla-cntr {
    width: 640px;
  }

  .robozilla-img {
    margin: 0;
    width: auto;
  }

  .robozilla-img img {
    height: 320px;
    top: 0;
    width: 640px;
  }

  .robozilla-canvas {
    height: 300px;
  }
}
