.dir-locals.el
.envrc
.yarn/*
!.yarn/releases
!.yarn/plugins
.pnp.*
.vscode/
.firebaserc
.firebase/
_site/
_cache/
dist-newstyle
**/node_modules
**/dist
**/*.log
**/.dir-locals.el
**/.tern-port
**/.rpt2_cache
