Makefile
LICENSE
.tern-port
.firebaserc
.gitignore
.gitattributes
.editorconfig
.envrc
.eslintignore
.stylelintignore
.prettierignore
.pnp.js
*.el
*.hs
*.cabal
*.rs
*.md
*.log
*.tex
*.xml
*.jpeg
*.jpg
*.bmp
*.gif
*.png
*.webp
*.json
*.gltf
*.bin
*.svg
*.nix
.firebase/**
.yarnrc.yml
.yarn/**
.vscode/**
**/yarn.lock
**/package.json
**/node_modules/**
**/.rpt2_cache/**
nix/**
.stack-work/**
dist-newstyle/**
_site/**
_cache/**
**/dist/**
static/**
scripts/**
templates/*.html
templates/*.xml
