Makefile
LICENSE
.tern-port
.gitignore
.editorconfig
.envrc
.eslintignore
.stylelintignore
.prettierignore
*.el
*.hs
*.cabal
*.rs
*.md
*.log
*.tex
*.xml
*.jpeg
*.jpg
*.bmp
*.gif
*.png
*.webp
*.json
*.gltf
*.bin
*.svg
**/dist/**
**/yarn.lock
**/package.json
**/node_modules/**
**/.rpt2_cache/**
.firebase/**
.stack-work/**
_site/**
_cache/**
static/**
templates/*.html
templates/*.xml
