.para {
  margin: 0;
  padding: 0;

  & + .para {
    margin-top: var(--textLineMargin);
  }
}

.list {
  border-left: 1px solid #000;
  box-sizing: border-box;
  font-size: 0.85em;
  list-style: none;
  margin: 0;
  padding: 14px 0 14px 16px;
}

.item {
  padding: 2px 0;
}
