@import url('https://fonts.googleapis.com/css?family=Open+Sans');


:root {
  --defaultBorder: 1px solid rgba(0,0,0,.1);
  --headerWidth: 270px;
  --contentWidth: 640px;
  --contentAsideWidth: calc(var(--headerWidth) - 22px);
  --contentMaxWidth: calc(var(--contentAsideWidth) + var(--contentWidth));
}

@custom-media --pcWidth only screen and (min-width: 48em);
/* (- (+ 640 270 270) 22 22 22) */
@custom-media --pcMaxWidth only screen and (min-width: 70em);


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:before, *:after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  overflow-x: hidden;
  position: relative;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  width: 100%;
}

body {
  background: #e3e3e1;
  box-sizing: border-box;
  color: #111;
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', system-ui;
  min-height: 100vh;
  overflow-x: hidden;
  position: relative;
  width: 100%;

  &[data-menu="opened"] {
    height: 100vh;
  }
}

h1 {
  font-size: 18px;
}

h2, h3 {
  font-size: 16px;
}

ol, ul {
  list-style: none;
}

a, a:hover, a:visited {
  color: #111;
  text-decoration: underline;
}

img {
  vertical-align: top;
}

[role="button"],
button {
  background: none;
  border: 0;
  color: inherit;
  line-height: normal;
  overflow: visible;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.mask {
  opacity: 0;
  transition-duration: 150ms;
  transition-property: opacity;

  @nest body[data-menu="opened"] & {
    background: #222;
    bottom: 0;
    left: 0;
    opacity: .6;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1000;
  }
}

.header {
  background: inherit;
  box-sizing: content-box;
  display: flex;
  flex-basis: 58px;
  flex-direction: row;
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: flex-start;
  line-height: 1;
  position: relative;

  & a, & a:visited {
    text-decoration: none;
  }

  @nest body[data-menu="opened"] & {
    overflow-x: visible;
  }
}

.header_title {
  font-weight: bold;
  height: 34px;
  margin: 12px;
  width: 60px;

  & a {
    display: block;
    height: 34px;
    padding: 4px;
    width: 60px;
  }

  & svg {
    fill: #2d2d2d;
  }
}

.header_icomenu {
  cursor: pointer;
  flex-grow: 0;
  flex-shrink: 0;
  height: 34px;
  margin: 12px 12px 4px;
  outline: 0;
  padding: 4px;
  position: absolute;
  right: 0;
  width: 34px;
  z-index: 1000;

  & svg {
    fill: none;
    opacity: .5;
    stroke: #000;
    stroke-linecap: round;
    stroke-miterlimit: 10;
    stroke-width: 4px;
  }

  @nest body[data-menu="opened"] & {
    z-index: 2000;
  }

  /* same as .link_icohome before */
  /* TODO: https://discourse.wicg.io/t/needed-new-champion-for-css-apply-rule/2012/18 */
  &:before {
    border-radius: 50%;
    bottom: 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: scale(.8);
    transition: 150ms;
    width: 100%;
  }

  &:active:before {
    background-image: radial-gradient(
      circle farthest-corner,
      rgba(0,0,0,.2) 0,
      transparent 65%
    );
  }

  &:focus:before {
      border: var(--defaultBorder);
      transform: scale(1.1);
  }
}

.menu {
  background: inherit;
  border-left: var(--defaultBorder);
  bottom: 0;
  display: block;
  min-height: 100vh;
  overflow: hidden;
  padding: 60px 0 0;
  position: absolute;
  right: 0;
  text-align: left;
  top: 0;
  transform: translate3d(100%,0,0);
  transition-property: visibility, transform;
  visibility: hidden;
  width: var(--headerWidth);
  z-index: 1500;

  & a {
    display: block;
  }

  & a:not([href]) {
    opacity: .4;
  }

  & a[href]:hover {
    color: #000;
    text-shadow: 1px 1px rgba(0,0,0,.2);
  }

  @nest body[data-menu="opened"] & {
    transform: none;
    visibility: visible;
  }
}

.menu_inner {
  display: flex;
  flex-basis: 100%;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
  padding: 0 22px;

  &:before {
    border-bottom: var(--defaultBorder);
    content: "";
    height: 60px;
    left: 22px;
    position: absolute;
    top: 0;
    width: calc(var(--headerWidth) - 22px - 22px);
  }
}

.link_icohome {
  background: inherit;
  cursor: pointer;
  height: 34px;
  left: 0;
  margin: 12px 18px 4px;
  outline: 0;
  padding: 4px;
  position: absolute;
  top: 0;
  width: 34px;
  z-index: 1600;

  & svg {
    fill: none;
    opacity: .5;
    stroke:#000;
    stroke-miterlimit: 10;
    stroke-width: 1.3px;
  }

  &:hover {
    & svg {
      opacity: .8;
    }
  }

  &:before {
    border-radius: 50%;
    bottom: 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: scale(.8);
    transition: 150ms;
    width: 100%;
  }

  &:active:before {
    background-image: radial-gradient(
      circle farthest-corner,
      rgba(0,0,0,.2) 0,
      transparent 65%
    );
  }

  &:focus:before {
    border: var(--defaultBorder);
    transform: scale(1.1);
  }
}

.link {
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 0;
  overflow-y: visible;
  width: 100%;
}

.link_contents {
  font-size: 1rem;
  padding: 10px 0;
}

.link_contents_item {
  & a {
    padding: 10px 0;
  }

  & + .link_contents_item {
    margin: 6px 0 0;
  }
}

.link_external {
  border-top: var(--defaultBorder);
  font-size: 14px;
  padding: 10px 0;
}

.link_external_item {
  & a {
    padding: 11px 0;
    position: relative;
  }

  & + .link_external_item {
    margin: 6px 0 0;
  }
}

.copyright {
  color: #666;
  flex-grow: 0;
  flex-shrink: 1;
  font-size: 12px;
  padding: 12px 12px 12px 0;
}


main {
  box-sizing: content-box;
  display: flex;
  flex-basis: 100%;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  line-height: 1.5;
  max-width: 100%;
  min-width: 1px;
  position: relative;

  &[aria-hidden="true"] {
    overflow-y: hidden;
  }
}

.content {
  margin: 0;
  min-height: 100%;
  position: relative;
}

.content_header {
  font-weight: normal;
  line-height: 26px;
  max-width: 100%;
  padding: 0 16px 16px;
  position: relative;
}

.content_body {
  border-top: var(--defaultBorder);
  position: relative;

  & > div:not(.plain) {
    padding: 16px 16px 16px;
    position: relative;
    text-align: justify;
    width: 100%;
  }

  & aside {
    visibility: hidden;
  }
}


/* For lazyImage.js */

@keyframes loading {
  50% { opacity: .3; }
}

@keyframes loaded {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.lazy-image {
  outline: 1px solid rgba(0,0,0,0);
  position: relative;
  transition-duration: 5s;
  transition-property: outline-color;
  width: 100%;

  & img {
    animation: loaded 300ms 1 ease-in-out;
    left: 0;
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
  }

  &[data-src-state="loading"] {
    outline-color: rgba(0,0,0,.1);
  }

  &[data-src-state="loaded"] {
    outline: none;

    & .lazy-image_loading {
      visibility: hidden;
    }
  }
}

.lazy-image_loading {
  bottom: 0;
  display: block;
  height: 9px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  visibility: visible;
  width: 54px;
}

.lazy-image_loading_rect {
  animation: loading 1.8s infinite ease-in-out;
  background: #000;
  display: block;
  height: 5px;
  opacity: 0;
  position: absolute;
  top: 2px;
  width: 5px;

  &:nth-child(1) { animation-delay: 0.05s; left: 2px;  }
  &:nth-child(2) { animation-delay: 0.1s;  left: 11px; }
  &:nth-child(3) { animation-delay: 0.15s; left: 20px; }
  &:nth-child(4) { animation-delay: 0.2s;  left: 29px; }
  &:nth-child(5) { animation-delay: 0.25s; left: 38px; }
  &:nth-child(6) { animation-delay: 0.3s;  left: 47px; }
}


/* For / */

.home_illust {
  height: calc(100vw - 32px);
  outline: none;
  width: calc(100vw - 32px);
}

.home_text {
  margin-top: 1rem;
}

.home_text_mail {
  margin-left: .5rem;
}

.license {
  border-top: var(--defaultBorder);
  padding-top: 1rem;
}


@media (--pcWidth) {
  html {
    overflow-x: visible;
  }

  body {
    flex-direction: row;
    overflow-x: visible;
  }

  .mask {
    display: none;
    transition-duration: 0;
  }

  .header {
    background: rgba(0,0,0,0);
    flex-basis: var(--headerWidth);
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    max-width: 320px;
    min-width: 200px;
    position: relative;

    & a, & a:visited {
      text-decoration: none;
    }
  }

  .header_title {
    left: 0;
    margin: 28px 0 28px;
    padding: 0 18px 0 18px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 3000;
  }

  .header_icomenu {
    display: none;
  }

  .menu {
    border-left: none;
    left: 0;
    min-height: auto;
    padding: 90px 0 0;
    right: auto;
    top: 0;
    transform: none;
    transition-property: none;
    visibility: visible;
    width: 100%;
    z-index: 2000;

    & a {
      display: inline-block;
    }
  }

  .menu_inner {
    &:before {
      display: none;
    }
  }

  a.link_icohome {
    display: none;
  }

  .link_contents {
    border-top: var(--defaultBorder);
    padding: 24px 0;
  }

  .link_contents_item {
    & + .link_contents_item {
      margin: 8px 0 0;
    }
  }

  .link_external {
    padding: 24px 0;
  }

  .link_external_item {
    & + .link_external_item {
      margin: 6px 0 0;
    }
  }

  .copyright {
    padding: 2rem 0 12px;
  }

  .content {
    padding: 0 22px 0 0;
  }

  main {
    flex-grow: 0;
    min-height: 100vh;
  }

  .content_header {
    max-width: var(--contentMaxWidth);
    min-width: var(--contentWidth);
    padding: 32px 0;
  }

  .content_body {
    max-width: var(--contentMaxWidth);
    min-width: var(--contentWidth);
    padding: 32px 0 0;

    & > div:not(.plain) {
      padding: 0 0 32px;
      text-align: start;
      width: var(--contentWidth);
    }

    & aside {
      visibility: hidden;
    }
  }

  .home_illust {
    height: var(--contentWidth);
    width: var(--contentWidth);
  }
}

@media (--pcMaxWidth) {
  .content_body aside {
    padding: 32px 0 0 22px;
    position: absolute;
    right: 0;
    top: 0;
    visibility: visible;
    width: var(--contentAsideWidth);
  }

  .content_body aside ul {
    border: var(--defaultBorder);
    padding: 1rem;
  }
}
