<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex">
    <title>asbi.sh | 404</title>
    <link rel="shortcut icon" href="/favicon.ico">
    <style>$css$</style>
  </head>
  <body>
    <main role="main">
      <div>
        <h1>404 - Not found</h1>
        <img height="240" width="240" src="/art/404.png" alt="">
        <p>Back to <a href="/">Home</a>.</p>
      </div>
    </main>
    <footer>&copy; 2017-2019 asbish</footer>
  </body>
</html>
