<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <title>$title$ | asbi.sh</title>
    <link rel="shortcut icon" href="/favicon.ico" />
    $partial("templates/styles-list.html")$
    $partial("templates/scripts-list.html")$
  </head>
  <body>
    <header class="header">
      <div class="mask" id="mask" role="presentation"></div>
      <div class="logo">
        <a
            class="logo-anchor"
            href="/"
            aria-label="asbi.sh Home"
            aria-hidden="false"
            tabindex="0"
        >
          <svg
              class="logo-svg"
              viewBox="0 0 54 34"
              focusable="false"
              preserveAspectRatio="xMidYMid meet"
          >
            <path d="M43.71,26.71h-13V4.34H33.4V11.8H43.71ZM33.4,24H41v-9.5H33.4Z"/>
            <rect x="47.31" y="9.91" width="2.69" height="16.8"/>
            <path d="M25.39,9.91,14,24v2.71H28V9.91ZM25.33,24h-8l8-9.52Z"/>
            <path d="M13,26.71H0V16.37H10.32V14.49H0V11.8H13ZM2.7,24h7.62V19.06H2.7Z"/>
            <rect class="logo-svg-underline" fill="transparent" y="28.85" width="50" height="2"/>
          </svg>
        </a>
      </div>
      <button class="guide" id="guide" aria-label="Guide" aria-pressed="false">
        <svg
          class="guide-svg"
          viewBox="0 0 26 26"
          focusable="false"
          preserveAspectRatio="xMidYMid meet"
        >
          <line x1="2" y1="4.99" x2="24" y2="4.99" />
          <line x1="2" y1="13" x2="24" y2="13" />
          <line x1="2" y1="21.01" x2="24" y2="21.01" />
        </svg>
      </button>
      <div class="menu" id="menu" role="menu" aria-label="Menu">
        <div class="menu-container">
          <div class="menu-link-container">
            <div class="menu-home">
              <a
                class="menu-home-anchor"
                href="/"
                aria-label="Home"
                role="menuitem"
              >
                <svg
                  class="menu-home-svg"
                  viewBox="0 0 26 26"
                  focusable="false"
                  preserveAspectRatio="xMidYMid meet"
                >
                  <path d="M12.37,3.43l-9.9,6.84a1.1,1.1,0,0,0-.47.91v.52a1.1,1.1,0,0,0,1.1,1.1h.3a1.1,1.1,0,0,1,1.1,1.1v8A1.1,1.1,0,0,0,5.6,23H9.4a1.1,1.1,0,0,0,1.1-1.1V17.1A1.1,1.1,0,0,1,11.6,16h2.8a1.1,1.1,0,0,1,1.1,1.1v4.8A1.1,1.1,0,0,0,16.6,23h3.8a1.1,1.1,0,0,0,1.1-1.1v-8a1.1,1.1,0,0,1,1.1-1.1h.3A1.1,1.1,0,0,0,24,11.7v-.52a1.1,1.1,0,0,0-.47-.91l-9.9-6.84A1.1,1.1,0,0,0,12.37,3.43Z" />
                </svg>
              </a>
            </div>
            <div class="menu-category">
              <div class="menu-category-title">Blog</div>
              <ul class="menu-entries">
                $for(blog-entries)$
                <li class="menu-entry">
                  $if(current)$
                  <a
                    class="menu-entry-anchor"
                    href="$url$"
                    role="menuitem"
                    aria-current="page"
                  >
                    $title$
                  </a>
                  $else$
                  <a class="menu-entry-anchor" href="$url$" role="menuitem">
                    $title$
                  </a>
                  $endif$
                </li>
                $endfor$
              </ul>
            </div>
            <div class="menu-category">
              <div class="menu-category-title">Pages</div>
              <ul class="menu-entries">
                $for(page-entries)$$if(nomenu)$$else$
                <li class="menu-entry">
                  $if(current)$
                  <a
                    class="menu-entry-anchor"
                    href="$url$"
                    role="menuitem"
                    aria-current="page"
                  >
                    $title$
                  </a>
                  $else$
                  <a class="menu-entry-anchor" href="$url$" role="menuitem">
                    $title$
                  </a>
                  $endif$
                </li>
                $endif$$endfor$
              </ul>
            </div>
          </div>
          <div class="menu-copyright">&copy; 2017 asbish</div>
        </div>
      </div>
    </header>
    <main id="main" role="main">
      <div class="title"><h1 class="title-heading">$title$</h1></div>
      <div class="content" id="content">$body$</div>
    </main>
  </body>
</html>
